@import url('https://www.fontspace.com/sportypo-font-f42287');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

/*
  Palette:
    #212121 rgb(33, 33, 33)
    #323232 rgb(50, 50, 50)
    #0D7377 rgb(13, 115, 119)
    #14FFEC rgb(20, 255, 236)
    #d1d1d1
*/

@font-face {
  font-family: 'GoGoPosterPunch';
  src: url('GoGoPosterPunch.ttf');
}

html, body {
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  color: white;
}
a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  background-color: black;
  background-color: transparent;
  text-decoration: underline;
}
.row {
  margin: 0;
  padding: 0;
}
.title {
  font-family: 'GoGoPosterPunch';
  color: white;
  font-size: 6rem;
  letter-spacing: 2px;
}
#video {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
.navbar {
  background-color: #212121;
  padding: .3rem;
  border-bottom: 0.5rem solid white;
  border-color: #d1d1d1;
}
.navbar-nav li {
  padding-right: 20px;
}
.navbar-brand {
  display: flex;
}
.navbar-brand img , .icon {
  height: 60px;
  padding-right: 1rem;
}
.nav-link {
  font-size: 1.1em !important;
}
.navbar .title {
  padding-top: 0.8rem;
  font-size: 1.8rem;
}
.background {
  margin: 0;
  padding: 0;
  background-image: url('https://rocketleague.media.zestyio.com/rl_platform_keyart_2019.309bf22bd29c2e411e9dd8eb07575bb1.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
}
.filter {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
}
#home .title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  font-size: 20rem;
  letter-spacing: 2px;
  line-height: 30vh;
  margin: 0;
  mix-blend-mode: screen;
  color: rgba(0, 0, 0, 1);
  background: rgba(50, 50, 50, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
#home h1 {
  padding-top: 1rem;
  font-size: 20rem;
  font-family: 'GoGoPosterPunch';
  letter-spacing: 2px;
  line-height: 30vh;
  margin: 0;
}
.offerings {
  background-color: #212121;
  padding-top: 2rem;
  padding-bottom: 5rem;
}
.offerings .title h1 {
  font-size: 5rem;
}
.offerings .subtitle {
  font-size: 1.5rem;
  color: #14FFEC;
}
.offerings .content {
  width: 100%;
}
.offerings .content .row {
  padding-top: 2rem;
}
.offerings .content .info h1 {
  padding-left: 3rem;
}
.offerings .content .info p {
  color: #d1d1d1;
  padding-left: 5rem;
}
.offerings .offers h1 {
  margin-left: 1rem;
}
.offerings .offers p {
  margin-left: 2rem;
  margin-bottom: 0.5rem;
}
.offerings .offers a {
  margin-left: 2rem;
}
.service {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.offers {
  background-color: #323232;
  border-radius: 50px 10px;
  padding: 2rem;
  padding-left: 2rem;
}
.offers a:link {
  color: #14FFEC;
  background-color: transparent;
  text-decoration: none;
}
.offers a:visited {
  color: #14FFEC;
  background-color: transparent;
  text-decoration: none;
}
.offers a:hover {
  color: #14FFEC;
  background-color: transparent;
  text-decoration: underline;
}
.offers a:active {
  background-color: #14FFEC;
  background-color: transparent;
  text-decoration: underline;
}
.divider {
  width: 30%;
  height: 20px;
  border-top: 2px white;
  margin-top: 4rem;
  margin-left: 13rem;
  background-color: #14FFEC;
  border-radius: 50px 10px;
}
.offerings .content .divider {
  width: 80%;
  border-top: 2px white;
  margin-top: 2rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  background-color: #14FFEC;
  border-radius: 50px 10px;
}
.offerings .offers .divider {
  width: 100%;
  margin-top: 1rem;
  margin-left: 0rem;
}
.options .divider {
  width: 40%;
  margin-left: 30rem;
  border-radius: 10px 50px;
  margin-top: 1rem;
}
.option {
  padding: 2rem;
  height: 250px;
  background-color: rgba(50, 50, 50, 0.9);
  border-radius: 50px 10px;
  border-color: #d1d1d1;
}
.option h1 {
  color: white;
}
.boost {
  background-image: url('../img/bc.jpg');
  display: inline-block;
}
.boost .filter {
  margin: 0;
  padding: 0;
}
.boost .title h1 {
  padding-top: 2rem;
  font-size: 5rem;
}
.boost .subtitle {
  font-size: 1.5rem;
  color: #14FFEC;
}
.boost .content {
  padding-top: 4rem;
  padding-bottom: 5rem;
}
.card {
  width: 180px;
  height: 180px;
  border-radius: 50px 10px;
  background-color: #323232;
  border: 3px solid white;
  border-color: #d1d1d1;
}
.card img {
  padding: 1rem;
}
.card .body {
  text-align: center;
  padding: 1rem;
  color: white;
}
.card .body h1 {
  font-size: 1rem;
}
.input {
  background-color: #212121;
  border: 0px;
  border-radius: 10px;
  color: white;
  font-style: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem;
}
.selection {
  padding-top: 1rem;
}
.options {
  padding-top: 1rem;
  padding-bottom: 5rem;
}
.adds {
  margin-top: 2rem;
  width: 60%;
  padding: 2rem;
  background-color: rgba(50, 50, 50, 0.9);
  border-radius: 50px 10px;
  margin-left: 20rem;
  border-color: #d1d1d1;
}
.platform {
  display: flex;
}
.platform .element {
  padding: 0.5rem;
  background-color: #212121;
  border-radius: 10px;
  border: 5px solid white;
  color: white;
  margin-right: 0.5rem;
}
.playwithbooster {
  display: flex;
}
.playwithbooster p {
  margin-top: 0.2rem;
  margin-left: 1rem;
  color: white;
}
.checkout {
  background-color: #323232;
  border-radius: 50px 10px;
  border: 3px solid white;
  border-color: #14FFEC;
  padding: 1rem;
}
.checkout .order {
  padding: 1rem;
}
.checkout .divider {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 0rem;
}
.checkout .additionalinfo {
  padding: 1rem;
}
.additionalinfo h2 {
  font-size: 1.2rem;
}
.trail {
  display: flex;
  justify-content: flex-end;
}
.button {
  background-color: #212121;
  padding: 1rem;
  border-radius: 40px 5px;
  display: inline-block;
}
.button h1 {
  font-size: 2rem;
  margin-bottom: 0;
}
/* The switch - the box around the slider */
.switch {
 position: relative;
 display: inline-block;
 width: 60px;
 height: 34px;
}
/* Hide default HTML checkbox */
.switch input {
 opacity: 0;
 width: 0;
 height: 0;
}
/* The slider */
.slider {
 position: absolute;
 cursor: pointer;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background-color: #ccc;
 -webkit-transition: .4s;
 transition: .4s;
}
.slider:before {
 position: absolute;
 content: "";
 height: 26px;
 width: 26px;
 left: 4px;
 bottom: 4px;
 background-color: white;
 -webkit-transition: .4s;
 transition: .4s;
}
input:checked + .slider {
 background-color: #14FFEC;
}
input:focus + .slider {
 box-shadow: 0 0 1px #14FFEC;
}
input:checked + .slider:before {
 -webkit-transform: translateX(26px);
 -ms-transform: translateX(26px);
 transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
 border-radius: 34px;
}
.slider.round:before {
 border-radius: 50%;
}

.currentrank, .desiredrank, .queue {
  display: block;
}
form {
  display: flex;
}
input[type="range"] {
  display: block;
  -webkit-appearance: none;
  background-color: #bdc3c7;
  width: 200px;
  height: 5px;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 1rem;
  outline: 0;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #0D7377;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
  transition: .3s ease-in-out;
}​
  input[type="range"]::-webkit-slider-thumb:hover {
    background-color: #0D7377;
    border: 2px solid #e74c3c;
  }
  input[type="range"]::-webkit-slider-thumb:active {
    transform: scale(1.6);
  }
#win2input, #p2input, #sr2input {
  width: 20%;
  background-color: #212121;
  border: 0px;
  border-radius: 10px;
  padding: 0.5rem;
  color: white;
}
.modal-content {
  background-color: #323232;
  padding: 1rem;
  border: 3px solid white;
  border-color: #14FFEC;
  border-radius: 50px 10px;
}
.modal .btn {
  background-color: #212121;
  border: 2px solid white;
  border-color: #14FFEC;
}
.about {
  background-color: #0D7377;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.about h1 {
  font-size: 5rem;
}
.about .subtitle {
  font-size: 1.5rem;
  color: #14FFEC;
  padding-bottom: 1rem;
}
.about .content {
  width: 90%;
  background-color: rgba(50, 50, 50, 0.2);
  padding: 2rem;
  border-radius: 50px 10px;
}
.about .content .title {
  padding-top: 2rem;
  text-align: right;
}
.about .content .title h1 {
  font-size: 4rem;
}
.about .content .subtitle {
  padding-top: 4rem;
  text-align: left;
  color: #d1d1d1;
}
.team {
  padding: 2rem;
  padding-left: 0rem;
}
.carousel {
  width: 60rem;
}
.carousel-inner {
  background: black;
  border: 5px solid white;
  border-radius: 50px 10px;
  width: 60rem;
}
.carousel-item img {
  height: 30rem;
  filter: blur(1px);
  -webkit-filter: blur(1px);
  opacity: 0.6;
}
.contact {
  background-color: #212121;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.contact .title {
  padding-bottom: 2rem;
}
.contact h1 {
  font-size: 4rem;
  text-align: center;
}
.contact .content {
  background-color: #323232;
  width: 100%;
  padding-top: 2rem;
}

.contact .content .title h1 {
  text-align: left;
  font-size: 2.5rem;
  padding-left: 5rem;
}
.contact .content .subtitle p {
  text-align: left;
  padding-left: 5rem;
}
.contact .discord .wrapper {
  padding: 2rem;
  background-color: #0D7377;
  border: 2px solid white;
  border-radius: 50px 10px;
}
.discordframe {
  width: 100%;
  min-width: 300px;
  height: 400px;
}
.contact .logo img {
  height: 300px;
}
.contact .writeus .wrapper {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact .writeus .message {
  width: 80%;
  background-color: #0D7377;
  padding: 2rem;
  padding-bottom: 0.5rem;
  border: 2px solid white;
  border-radius: 50px 10px;
}
.message .title h1 {
  padding-left: 1rem;
}
.contact .form form {
  display: block;
}
.form textarea {
  resize: none;
}
.form .trail .button h1 {
  font-size: 1.5rem;
}